@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    align-items: center;
    Font-size: 16px;
    min-height: 100vh;
    background-image: url(../images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
    background-color: #fff;
    padding: 1rem;
    padding-bottom: 5rem;
    border-radius: 1rem;
    max-width: 400px;
    height: 500px;
}
.container > .Img-1{
    width: 355px;
    height: 170px;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    margin-top: -0.7rem;
}
h1{
    color: hsl(223, 47%, 23%);
    margin: 2rem 0 1rem 0;
    font-weight: 900;
}
span{
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}
.sub{
    margin: 0 0.5rem;
}
.plan{
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem;
    width: 18rem;
    padding: 0.7rem;
    border-radius: 0.7rem;
}
.plan > p{
    margin-left: -3rem;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    line-height: 1.4rem;
}
.btn{
    cursor: pointer;
    width: 88%;
    margin-bottom: 1.5rem;
    font-weight: 700;
    border: none;
    padding: 0.8rem;
    border-radius: 0.7rem;
    color: #fff;
    background-color: hsl(245, 75%, 52%);
    transition: 1s ease all;
    box-shadow: 1px 7px 8px 3px hsla(263, 85%, 67%, 0.233);
}
.btn:hover{
    background-color: hsl(245, 84%, 67%);
    
}
.link{
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: hsl(223, 47%, 23%);
}

/* media query */
/* @media screen and (max-width: 500px) {
    .container{
        padding: 1rem;
        padding-bottom: 3rem;
        width: 350px;

    }
    .container > .Img-1{
        width: 350px;
        height: 200px;
    }
} */
